/* Headline */
.heading-s-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  color: var(--neutral-100);
}

.heading-s-semibold {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  color: var(--neutral-100);
}

.heading-s-medium {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
  color: var(--neutral-100);
}

.heading-s-regular {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  color: var(--neutral-100);
}

/* Text */

/* Text XXL */
.text-xxl-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: var(--neutral-100);
}

.text-xxl-semibold {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: var(--neutral-100);
}

.text-xxl-medium {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: var(--neutral-100);
}

.text-xxl-regular {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: var(--neutral-100);
}

/* Text XL */
.text-xl-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: var(--neutral-100);
}

.text-xl-semibold {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--neutral-100);
}

.text-xl-medium {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: var(--neutral-100);
}

.text-xl-regular {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--neutral-100);
}

/* Text L */
.text-l-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--neutral-100);
}

.text-l-semibold {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--neutral-100);
}

.text-l-medium {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--neutral-100);
}

.text-l-regular {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--neutral-100);
}

/* Text M */
.text-m-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: var(--neutral-100);
}

.text-m-semibold {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--neutral-100);
}

.text-m-medium {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--neutral-100);
}

.text-m-regular {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--neutral-100);
}

/* Text S */
.text-s-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: var(--neutral-100);
}

.text-s-semibold {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: var(--neutral-100);
}

.text-s-medium {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--neutral-100);
}

.text-s-regular {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--neutral-100);
}